/* @import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital,opsz,wght@0,6..96,400;0,6..96,500;0,6..96,600;0,6..96,700;0,6..96,800;0,6..96,900;1,6..96,400;1,6..96,500;1,6..96,600;1,6..96,700;1,6..96,800;1,6..96,900&display=swap'); */

@tailwind base;
@tailwind components;
@tailwind utilities;

@import "@radix-ui/colors/gray.css";
@import "@radix-ui/colors/gray-alpha.css";
@import "@radix-ui/colors/gray-dark.css";
@import "@radix-ui/colors/gray-dark-alpha.css";

@import "@radix-ui/colors/grass.css";
@import "@radix-ui/colors/grass-alpha.css";
@import "@radix-ui/colors/grass-dark.css";
@import "@radix-ui/colors/grass-dark-alpha.css";

@import "@radix-ui/colors/jade.css";
@import "@radix-ui/colors/jade-alpha.css";
@import "@radix-ui/colors/jade-dark.css";
@import "@radix-ui/colors/jade-dark-alpha.css";

@import "@radix-ui/colors/violet.css";
@import "@radix-ui/colors/violet-alpha.css";
@import "@radix-ui/colors/violet-dark.css";
@import "@radix-ui/colors/violet-dark-alpha.css";

@import "@radix-ui/colors/pink.css";
@import "@radix-ui/colors/pink-alpha.css";
@import "@radix-ui/colors/pink-dark.css";
@import "@radix-ui/colors/pink-dark-alpha.css";

@import "@radix-ui/colors/blue.css";
@import "@radix-ui/colors/blue-alpha.css";

@import "@/public/prism/one-dark.css";

@layer base {
  :root {
    --brand: #6166dc;
    --brandTinted: #6165dc1f;
    --bg: var(--gray-1);
    --boxBg: var(--gray-4);
    --font-sans: var(--font-inter);
    --font-serif: var(--font-bodoni);
    --font-mono: var(--font-mono) 
  }

  .light .prose {
    --tw-prose-headings: var(--gray-12);
    --tw-prose-body: var(--gray-12);
    --tw-prose-bold: var(--gray-12);
    --tw-prose-links: var(--gray-12);
    --tw-prose-code: var(--gray-12);
    --tw-prose-quotes: var(--gray-12);
  }

  .dark .prose {
    --tw-prose-headings: var(--gray-12);
    --tw-prose-body: var(--gray-11);
    --tw-prose-bold: var(--gray-11);
    --tw-prose-links: var(--gray-11);
    --tw-prose-code: var(--gray-11);
    --tw-prose-quotes: var(--gray-11);
    --blue-10: var(--blue-8);
  }

  .orchid {
    --gray-a4: var(--pink-a4);
    --gray-1: var(--pink-1);
    --gray-2: var(--pink-2);
    --gray-3: var(--pink-3);
    --gray-4: var(--pink-4);
    --gray-5: var(--pink-5);
    --gray-6: var(--pink-6);
    --gray-7: var(--pink-7);
    --gray-8: var(--pink-8);
    --gray-9: var(--pink-9);
    --gray-10: var(--pink-10);
    --gray-11: var(--pink-11);
    --gray-12: var(--pink-12);

    --gray-a1: var(--pink-a1);
    --gray-a2: var(--pink-a2);
    --gray-a3: var(--pink-a3);
    --gray-a4: var(--pink-a4);
    --gray-a5: var(--pink-a5);
    --gray-a6: var(--pink-a6);
    --gray-a7: var(--pink-a7);
    --gray-a8: var(--pink-a8);
    --gray-a9: var(--pink-a9);
    --gray-a10: var(--pink-a10);
    --gray-a11: var(--pink-a11);
    --gray-a12: var(--pink-a12);
  }

  .orchid .prose {
    --tw-prose-headings: var(--gray-12);
    --tw-prose-body: var(--gray-12);
    --tw-prose-bold: var(--gray-9);
    --tw-prose-links: var(--gray-9);
    --tw-prose-code: var(--gray-11);
    --tw-prose-quotes: var(--gray-11);
  }

  .terminal {
    /* using grass colors */
    --gray-a4: #57ff802c;
    --gray-1: #0e1511;
    --gray-2: #141a15;
    --gray-3: #1b2a1e;
    --gray-4: #1d3a24;
    --gray-5: #25482d;
    --gray-6: #2d5736;
    --gray-7: #366740;
    --gray-8: #3e7949;
    --gray-9: #46a758;
    --gray-10: #53b365;
    --gray-11: #71d083;
    --gray-12: #c2f0c2;

    --gray-a1: #00de1205;
    --gray-a2: #5ef7780a;
    --gray-a3: #70fe8c1b;
    --gray-a4: #57ff802c;
    --gray-a5: #68ff8b3b;
    --gray-a6: #71ff8f4b;
    --gray-a7: #77fd925d;
    --gray-a8: #77fd9070;
    --gray-a9: #65ff82a1;
    --gray-a10: #72ff8dae;
    --gray-a11: #89ff9fcd;
    --gray-a12: #ceffceef;
  }

  .terminal .prose {
    --tw-prose-headings: var(--gray-12);
    --tw-prose-body: var(--gray-9);
    --tw-prose-bold: var(--gray-9);
    --tw-prose-links: var(--gray-9);
    --tw-prose-code: var(--gray-11);
    --tw-prose-quotes: var(--gray-11);
  }

  .main-header {
    -webkit-tap-highlight-color: transparent;
  }

  body {
    overflow-x: hidden;
    background-color: var(--bg);
  }
}

.breakout {
  width: calc(100vw - 48px);
  margin-left: calc(50% - 50vw + 36px);
}

input[type="search"]::-webkit-search-cancel-button {
  display: none;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
  transition: background-color 5000s ease-in-out 0s;
}

.brand-gradient {
  background: radial-gradient(
    100% 478.52% at 0% 15.62%,
    #6166dc 0%,
    #d2a8ff 100%
  );
}

.text-gradient {
  background: linear-gradient(140deg, #6166dc, #d2a8ff, #f778ba);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  width: fit-content;
}

.like-button {
  background: radial-gradient(
    100% 478.52% at 0% 15.62%,
    #6166dc 0%,
    #d2a8ff 100%
  );
  animation: pulse 2.5s infinite ease-out;
}

.radial-fade {
  background: radial-gradient(
    100% 100% at 100% 100%,
    rgba(0, 0, 0, 1) 0%,
    rgba(0, 0, 0, 0) 100%
  );
}

@keyframes pulse {
  0% {
    box-shadow:
      0px 0px 52px #6166dc,
      0px 0px 20px #d2a8ff,
      inset 0px 1px 3px rgba(255, 255, 255, 0.22);
  }
  70% {
    box-shadow:
      0px 0px 70px #6166dc,
      0px 0px 40px #d2a8ff,
      inset 0px 1px 3px rgba(255, 255, 255, 0.22);
  }
  100% {
    box-shadow:
      0px 0px 52px #6166dc,
      0px 0px 20px #d2a8ff,
      inset 0px 1px 3px rgba(255, 255, 255, 0.22);
  }
}

@media (hover: hover) {
  .animated-list:hover li {
    opacity: 0.4;
  }

  .animated-list:hover li:hover {
    opacity: 1;
  }
}

.animate-in {
  animation-delay: calc(var(--index) * 130ms);
}

.overflow-x-scroll.snap-x::-webkit-scrollbar {
  /* hide scrollbars with webkit scrollbar */
  display: none;
}

.prose hr {
  @apply border-primary;
}

.prose.project img {
  @apply max-w-none  border border-secondary bg-tertiary lg:-ml-16 lg:w-[calc(100%+128px)];
}

.prose blockquote {
  @apply border-l-2 border-primary font-serif text-lg font-light;
}

.prose figcaption {
  @apply mx-auto mb-8 mt-2 max-w-md text-center text-sm font-medium leading-tight text-tertiary;
}

.prose h2 {
  @apply mb-4 text-xl md:text-2xl font-serif;
}

.prose h3 {
  @apply mb-2 mt-[48px] text-lg font-serif;
}

.prose p code {
  @apply whitespace-pre-line rounded border border-primary bg-tertiary px-1 font-normal text-primary dark:bg-secondaryA;
}

.prose
  p
  :where(code):not(
    :where([class~="not-prose"], [class~="not-prose"] *)
  )::before,
.prose
  p
  :where(code):not(
    :where([class~="not-prose"], [class~="not-prose"] *)
  )::after {
  content: "";
}

/* syntax highlighting */
pre[class*="language-"] {
  @apply  border border-secondary bg-primary text-[13px] text-xs text-primary dark:bg-neutral-900/50;
}

.code-highlight {
  float: left; /* 1 */
  min-width: 100%; /* 2 */
}

.code-line {
  display: block;
  padding-left: 16px;
  padding-right: 16px;
  margin-left: -16px;
  margin-right: -16px;
  border-left: 4px solid rgba(0, 0, 0, 0); /* Set placeholder for highlight accent border color to transparent */
}

.code-line.inserted {
  background-color: rgba(16, 185, 129, 0.2); /* Set inserted line (+) color */
}

.code-line.deleted {
  background-color: rgba(239, 68, 68, 0.2); /* Set deleted line (-) color */
}

.highlight-line {
  margin-left: -24px;
  margin-right: -24px;
  padding-left: 26px;
  background-color: var(--blue-a3); /* Set highlight bg color */
  border-left: 2px solid var(--blue-10); /* Set highlight accent border color */
}

.line-number::before {
  display: inline-block;
  width: 1rem;
  text-align: right;
  margin-right: 24px;
  margin-left: -8px;
  color: var(--gray-8); /* Line number color */
  content: attr(line);
}
